<nav class="bb bg-white b--dat-neutral-10 dt w-100 w-100 border-box pa3 ph5-l">
  <div class="dtc v-mid w-25 pt2">
    <a class="dib v-mid link dim mr2 pb1" href="https://datproject.org" title="datproject.org homepage">
      <img src="{{@blog.icon}}" class="dat-icon dib w2 h2" alt="Dat Project">
    </a>
    <a class="link dim dat-neutral b f3 f2-ns dib-l dn" href="{{@blog.url}}" title="Dat Archives">Dat<span class="ml1 dat-neutral-60">Blog</span></a>
  </div>

  <div class="dtc v-mid w-75 tr pt2">
    <a class="link dim dat-neutral ttu tracked f3 dib mr3 mr4-ns" href="https://docs.datproject.org" title="Dat Project Documentation">Docs</a>
    <a class="link dim dat-neutral ttu tracked f3 dib mr3 mr4-ns" href="https://datproject.org" title="datproject.org homepage">Home</a>
  </div>
</nav>