/* Variables
/* ---------------------------------------------------------- */

:root {
    /* Colours */
    --blue: #3eb0ef;
    --green: #a4d037;
    --purple: #ad26b4;
    --yellow: #fecd35;
    --red: #f05230;
    --darkgrey: #15171A;
    --midgrey: #738a94;
    --lightgrey: #c5d2d9;
    --whitegrey: #e5eff5;
    --pink: #fa3a57;
    --brown: #a3821a;

    /* Dat Colors */
    --white:#FFFFFF;
    --black:#293648;
    --neutral:#293648;
    --neutral-90:#394B5B;
    --neutral-80:#505F6D;
    --neutral-70:#65737F;
    --neutral-60:#7C8792;
    --neutral-50:#919BA4;
    --neutral-40:#A7AFB6;
    --neutral-30:#C3C9CD;
    --neutral-20:#D3D7DB;
    --neutral-14:#E0E3E5;
    --neutral-10:#E9EBEC;
    --neutral-04:#F6F7F8;
    --green:#2ACA4B;
    --green-hover:#199E33;
    --green-darker:#006607;
    --green-disabled:#94E4A5;
    --blue:#007FFF;
    --blue-hover:#0066CC;
    --blue-darker:#003E83;
    --blue-disabled:#7FBFFF;
    --mint:#159F84;
    --mint-hover:#0B856D;
    --mint-darker:#045943;
    --mint-disabled:#8ACFC1;
    --yellow:#F2CD02;
    --yellow-hover:#C4A500;
    --yellow-darker: #9F7D07;
    --yellow-disabled: #FBF0B3;
    --red: #D8524E;
    --red-hover: #B33C38;
    --red-darker: #A52724;
    --red-disabled: #EBA8A6;
    --pink: #F9A5E4;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 62.5%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    overflow-x: hidden;
    color: color(var(--midgrey) l(-25%));
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

::selection {
    text-shadow: none;
    background: color(var(--mint) lightness(+30%));
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 1.5em 0 3.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid color(var(--lightgrey) l(+10%));
}
/*
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}*/

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    margin: 0.5em 0;
    padding-left: 0.5em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.6em 0 1.6em;
    border-left: var(--whitegrey) 0.5em solid;;
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    color: color(var(--green));
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 5rem;
    font-weight: 700;
}
@media (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 2rem;
}
@media (max-width: 500px) {
    h2 {
        font-size: 1.8rem;
    }
}

h3 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.8rem;
    font-weight: 500;
}
@media (max-width: 500px) {
    h3 {
        font-size: 1.7rem;
    }
}

h4 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.6rem;
    font-weight: 500;
}

h5 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}*/


/*
  COLOR
 */

.dat-neutral {
  color: var(--neutral);
}

.dat-green {
  color: var(--green);
}

.dat-neutral-70 {
  color: var(--neutral-70);
}

.dat-neutral-60 {
  color: var(--neutral-60);
}
/*
  BACKGROUND COLOR
 */


.bg-dat-black {
  background-color: var(--black);
}

.bg-dat-neutral {
  background-color: var(--neutral);
}

.bg-dat-neutral-80 {
  background-color: var(--neutral-80);
}

.bg-dat-neutral-70 {
  background-color: var(--neutral-80);
}

.bg-dat-neutral-50 {
  background-color: var(--neutral-50);
}

.bg-dat-green {
  background-color: var(--green);
}

.bg-dat-blue {
  background-color: var(--blue);
}

/*
  BORDER COLOR
 */

.b--dat-green {
  border-color: var(--green);
}

.b--dat-neutral {
  border-color: var(--neutral);
}

.b--dat-neutral-10 {
  border-color: var(--neutral-10);
}

.b--dat-neutral-70 {
  border-color: var(--neutral-70);
}

.dat-icon {
    width:32px;
    height:32px;
}

.dim:hover {
    text-decoration: none;
}